{% extends 'default_frame.twig' %}

{% set body_class = 'croire' %}

{% block main %}
<div class="row">
<div class="col-sm-12">
	   				
	   			
<!-- !! include -->
<!-- !! メイン -->    
<!-- !! メイン -->    
<style>	
	#croire-index{
		max-width: 660px;
		width: auto;
		margin: 0 auto;
		padding: 0 15px !important;
		box-sizing: border-box !important;
	}
	#croire-index h1{
		margin: 2em 0px;
		text-align: center;
		letter-spacing: .1em;
		padding: 0 15px !important;
		line-height: 1.6;
	}
	
	#croire-index h4{
		margin: 1em 15px !important;
		background: #eee;
		line-height: 1;
		padding: 10px 15px !important;
		letter-spacing: .05em;
		text-align: center;
		line-height: 1.4;
	}

	#croire-index p{
		line-height: 2;
		padding: 0 15px !important;
	}
	
	#croire-index b {
		color: #ff0707;
	}
	
	h1{
		white-space: nowrap;
	}
	
	#croire-index a.link{
		margin: 15px auto ;text-align: center;
		max-width: 300px;
		background: #26b7bb;
		display: block;
		padding: 10px;
		font-weight: bold;
	}
	

</style>

<main id="croire-index" class="page product" >
	

<h1>年末年始休業の<wbr>お知らせ</h1>

<p>誠に勝手ながら、年末年始休暇のため<br />
【2022年12月29日(木)〜2023年1月4日(水)】の期間は休業とさせていただいております。</p>


<h4>お問い合わせについて</h4>
<p>12月26日（月）までに頂いたメールでのお問い合わせは2022年内に回答させて頂きます。</p>
<p>12月27日（火）以降のメールでの問い合わせは、1月5日（木）より順次回答させて頂きます。</p>
<p>お急ぎの場合は、<b>12月28日(水)</b>までにお電話(0120-76-4541)にてお問い合せください。</p>

<h4>配送に関して</h4>
<p>年内に商品到着をご希望の方は<b>【12月28日（水）13:00】</b>までにご注文下さい。</p>
<p><b>12月28日（水）13:00以降～1月4日（水）</b>にご注文いただいた商品は<b>1月5日（木）以降</b>に順次発送致します。</p>
<p>なお、道路状況により配達までお時間を頂く場合がございます。</p>
<p>何卒ご理解頂きますようお願いいたします。</p>
<p>今後とも変わらぬご愛顧を賜りますよう、スタッフ一同、心よりお願い申し上げます。</p>
<p>&nbsp;</p>
<div class="cart-back-wrap">
    <a class="ec-blockBtn--cancel" href="/">トップページに戻る</a>
</div>

</main>


{% if is_granted('ROLE_USER') %}
<div id="user-logged-in-flag" data-user="{{ app.user.id }}"></div>
{% endif %}
			
						

<!-- !! /include -->


</div>
</div>
{% endblock %}