{#
/*
 * This file is part of the Flash Sale plugin
 *
 * Copyright(c) ECCUBE VN LAB. All Rights Reserved.
 *
 * https://www.facebook.com/groups/eccube.vn
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<script type="text/javascript">
    $(function () {
        var _flashSaleProductJson = $.parseJSON({{ ProductFlashSale|json_encode|raw }});
        var productPriceEl = $('.ec-productRole__price');
        var _setDiscount = function (ProductClassId) {
            _resetDiscount();
            if (_flashSaleProductJson[ProductClassId]) {
                $('.ec-price__price', productPriceEl).html('<del>' + $('.ec-price__price', productPriceEl).html() + '</del>');
                $('.ec-price', productPriceEl).after('<div class="discount">' + _flashSaleProductJson[ProductClassId].message + '</div>');
            }
        };

        var _resetDiscount = function () {
            $('.ec-price__price', productPriceEl).html($('.ec-price__price', productPriceEl).text());
            productPriceEl.find('.discount').remove();
        };

        var inputProductClass = $('#ProductClass');
        if (inputProductClass.val()) {
            _setDiscount(inputProductClass.val());
        } else {
            $('#classcategory_id2, #classcategory_id1').on('change', function () {
                inputProductClass.trigger('change');
            });
            inputProductClass.on('change', function () {
                _setDiscount($(this).val());
            });
        }
    });
</script>
