{#
RepeatCube for EC-CUBE4
Copyright(c) 2019 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
<script>
$(function() {
    $(".ec-withdrawRole__description").after($('#ec-withdrawRole__error'));
})
</script>

<style type="text/css">
    .ec-blockBtn--cancel{
        display: none;
    }
    .ec-withdrawRole__error{
        color: #DE5D50;
        font-weight: bold;
        font-size: 16px;
    }
</style>

<p class="ec-withdrawRole__error" id="ec-withdrawRole__error">※契約中の定期受注があるため退会できません。定期受注を全て解約してから退会してください。</p>
