$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-close: "\e90d";
$icon-area: "\e910";
$icon-holiday: "\e911";
$icon-station: "\e912";
$icon-star: "\e90f";
$icon-star-h: "\e90e";
$icon-add: "\e900";
$icon-checked: "\e901";
$icon-doc: "\e902";
$icon-faeture: "\e903";
$icon-favorite: "\e904";
$icon-image: "\e905";
$icon-kuchikomi: "\e906";
$icon-like: "\e907";
$icon-menu: "\e908";
$icon-search: "\e909";
$icon-share: "\e90a";
$icon-store: "\e90b";
$icon-unchecked: "\e90c";

