* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
}

body {
  -webkit-text-size-adjust: 100%;
  position: relative;
}

body, section, article, address, div, ul, ol, li, table, tr, th, td, dl, dt, dd, h1, h2, h3, h4, h5, p, a, span, strong, small, b, pre, input, select, textarea, button {
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  letter-spacing: 0;
  line-height: 1;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}

img,
video {
  width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

img {
  pointer-events: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
}

input[type="file"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
label {
  cursor: pointer;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}

body {
  overflow-wrap: break-word;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "HiraginoSans-W6", sans-serif;
  color: #4c4c4c;
}

main {
  display: block;
}

.footer {
  background-color: #094276;
}

.footer_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer_inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer_inner_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer_inner_list {
    display: block;
  }
}

.footer_inner_list_item {
  width: calc((100% - 40px) / 3);
  padding: 10px 0;
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .footer_inner_list_item {
    width: 70%;
    padding: 5px 0;
  }
}

.footer_inner_list_item:not(:nth-child(3n)) {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .footer_inner_list_item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

.footer_inner_list_item:not(:nth-last-child(-n +3)) {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer_inner_list_item:not(:nth-last-child(-n +3)) {
    margin-bottom: 0;
  }
}

.footer_inner_list_item > a {
  display: inline-block;
  height: 20px;
}

.footer_inner_list_item > a:hover {
  opacity: .8;
}

.index_kv_inner {
  background-color: #094276;
  position: relative;
}

.index_kv_inner_logo {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_logo {
    padding: 10px 20px;
  }
}

.index_kv_inner_logo > img {
  width: 120px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_logo > img {
    width: 68px;
  }
}

.index_kv_inner_content {
  background: url("../img/kv_bg-pc.png") bottom/contain no-repeat;
  position: relative;
  z-index: 0;
  padding-bottom: 270px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content {
    background: url("../img/kv_bg-sp.png") bottom/contain no-repeat;
    padding-bottom: 0;
  }
}

.index_kv_inner_content_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  margin-top: -30px;
  padding-bottom: 680px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content_inner {
    margin-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content_inner_title {
    margin-top: 10px;
  }
}

.index_kv_inner_content_inner_product-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_content_inner_product-sp {
    display: block;
    margin-top: 10px;
  }
}

.index_kv_inner_bottom {
  background: #1a6ebb;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1a6ebb 0%, #002a51 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#1a6ebb), to(#002a51));
  background: linear-gradient(to bottom, #1a6ebb 0%, #002a51 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6ebb', endColorstr='#002a51',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_bottom {
    position: static;
  }
}

.index_kv_inner_bottom_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_bottom_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_kv_inner_bottom_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_kv_inner_bottom_inner {
    height: auto;
    padding: 20px;
  }
}

.index_kv_inner_bottom_inner_product {
  position: absolute;
  max-width: 880px;
  width: 100%;
  bottom: 260px;
}

@media screen and (max-width: 767px) {
  .index_kv_inner_bottom_inner_product {
    display: none;
  }
}

.index_banner {
  background-color: #F2EFE2;
}

.index_banner_content {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .index_banner_content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_banner_content {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_banner_content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_banner_content_body {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .index_banner_content_body {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_banner_content_body {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_banner_content_body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_banner_content_body_inner {
  padding: 30px 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .index_banner_content_body_inner {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .index_banner_content_body_inner > a {
    margin-bottom: 5px;
    padding: 0 5px;
  }
}

.index_banner_content_body_inner > a:hover {
  opacity: .8;
}

.index_trouble {
  background-color: #4e5b6a;
  position: relative;
}

.index_trouble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 100px 0 100px;
  border-color: #4e5b6a transparent transparent transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

@media screen and (max-width: 767px) {
  .index_trouble:after {
    border-width: 40px 50px 0 50px;
    bottom: 2px;
  }
}

.index_trouble_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .index_trouble_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_trouble_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_trouble_inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_trouble_inner > img:nth-child(2) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .index_trouble_inner > img:nth-child(2) {
    margin-top: 20px;
  }
}

.index_trouble_inner > img:nth-child(3) {
  margin-top: 10px;
}

.index_feature {
  padding-top: 90px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .index_feature {
    padding-top: 60px;
  }
}

.index_feature_content {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .index_feature_content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_content {
    padding-right: 20px;
  }
}

.index_feature_content_head {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_head {
    margin-top: 0;
  }
}

.index_feature_content_body {
  margin-top: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .index_feature_content_body {
    margin-top: 20px;
  }
}

.index_feature_content_body_inner {
  padding: 30px 40px 40px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner {
    padding: 20px 10px 10px;
  }
}

.index_feature_content_body_inner_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_head {
    display: block;
  }
}

.index_feature_content_body_inner_head > img {
  width: 48%;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_head > img {
    width: 100%;
  }
}

.index_feature_content_body_inner_head > .text {
  padding: 20px 20px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_head > .text {
    padding: 20px 0;
  }
}

.index_feature_content_body_inner_head > .text > p {
  line-height: 1.67;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_head > .text > p {
    font-size: 18px;
  }
}

.index_feature_content_body_inner_head > .text > p:last-child {
  margin-top: 20px;
}

.index_feature_content_body_inner_graph {
  margin: 30px 0 40px;
  padding: 30px 20px;
  border: solid 1px #828282;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_graph {
    padding: 10px 0;
    margin: 20px 0;
  }
}

.index_feature_content_body_inner_graph > .graph {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_graph > .graph {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
  }
}

.index_feature_content_body_inner_bottom {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .index_feature_content_body_inner_bottom {
    margin-top: 20px;
  }
}

.index_feature_point {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .index_feature_point {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_point {
    padding-right: 20px;
  }
}

.index_feature_point_head {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .index_feature_point_head {
    margin-top: 30px;
  }
}

.index_feature_point_body {
  margin-top: 60px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .index_feature_point_body {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_point_body_inner.point1 {
    padding: 0 10px;
  }
}

.index_feature_point_body_inner.point1 > img {
  margin-bottom: 10px;
}

.index_feature_point_body_inner.point1 > img:first-child {
  margin-top: 10px;
}

.index_feature_point_body_inner.point2 {
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .index_feature_point_body_inner.point2 {
    padding: 10px;
  }
}

.index_feature_point_body_inner.point3 {
  padding: 0 40px 30px;
}

@media screen and (max-width: 767px) {
  .index_feature_point_body_inner.point3 {
    padding: 0 10px;
  }
}

.index_feature_point_body_inner.point3 > .fig_2 {
  border: solid 1px #828282;
}

.index_feature_point_body > .titleWrap {
  width: 100%;
  position: relative;
}

.index_feature_point_body > .titleWrap > .title-sub {
  position: absolute;
  width: 100%;
  top: -40px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .index_feature_point_body > .titleWrap > .title-sub {
    top: -10px;
  }
}

.index_feature_conclution_top {
  background-color: #094276;
}

.index_feature_conclution_top_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 53px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_top_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_top_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_top_inner {
    padding-top: 20px;
  }
}

.index_feature_conclution_top_inner_body {
  margin-top: 75px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_top_inner_body {
    margin-top: 20px;
  }
}

.index_feature_conclution_top_inner_body > img:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_top_inner_body > img:not(:last-child) {
    margin-bottom: 10px;
  }
}

.index_feature_conclution_bottom {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #094276 0%, rgba(125, 152, 176, 0) 52%, white 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#094276), color-stop(52%, rgba(125, 152, 176, 0)), color-stop(60%, white));
  background: linear-gradient(to bottom, #094276 0%, rgba(125, 152, 176, 0) 52%, white 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094276', endColorstr='#00e5e5e5',GradientType=0 );
  /* IE6-9 */
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.index_feature_conclution_bottom_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner {
    padding-top: 20px;
  }
}

.index_feature_conclution_bottom_inner_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner_body {
    margin-top: 20px;
  }
}

.index_feature_conclution_bottom_inner_body > .image {
  width: calc((100% - 18px) / 2);
  height: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner_body > .image {
    width: calc((100% - 10px) / 2);
  }
}

.index_feature_conclution_bottom_inner_body > .image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/point_bottom_tag-pc.png") center/contain no-repeat;
  left: -24px;
  top: 0;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner_body > .image:after {
    left: -16px;
  }
}

.index_feature_conclution_bottom_inner_body > .image:nth-last-child(-n + 3) {
  width: calc((100% - 40px) / 3);
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner_body > .image:nth-last-child(-n + 3) {
    width: calc((100% - 20px) / 3);
  }
}

.index_feature_conclution_bottom_inner_body > .image:not(:nth-last-child(-n + 3)) {
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_inner_body > .image:not(:nth-last-child(-n + 3)) {
    margin-bottom: 10px;
  }
}

.index_feature_conclution_bottom_caption {
  margin-top: 20px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .index_feature_conclution_bottom_caption {
    padding-bottom: 20px;
  }
}

.index_explain_content {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .index_explain_content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_explain_content {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_explain_content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_explain_content_body {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_body {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.index_explain_content_body_inner {
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_body_inner {
    padding: 10px;
  }
}

.index_explain_content_body_inner > p {
  line-height: 2;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_body_inner > p {
    font-size: 18px;
  }
}

.index_explain_content_body_inner > img {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_body_inner > img {
    margin-top: 20px;
  }
}

.index_explain_content_body_arrow {
  position: absolute;
  width: 30%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
  -ms-transform: translate(-50%, 70%);
  transform: translate(-50%, 70%);
}

.index_explain_content_bottom {
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_bottom {
    margin-top: 40px;
  }
}

.index_explain_content_moreBtn {
  margin-top: 40px;
}

.index_explain_content_moreBtn:hover {
  opacity: .8;
}

.index_explain_content_more {
  margin-top: 69px;
  display: none;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more {
    margin-top: 20px;
  }
}

.index_explain_content_more_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.index_explain_content_more_body:last-child {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body:last-child {
    margin-top: 20px;
  }
}

.index_explain_content_more_body_title {
  width: 100%;
  margin-bottom: 20px;
}

.index_explain_content_more_body_inner {
  width: 30%;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner {
    width: 100%;
    padding-top: 0;
  }
}

.index_explain_content_more_body_inner > .text > p {
  line-height: 1.6;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner > .text > p {
    font-size: 18px;
    line-height: 1.8;
  }
}

.index_explain_content_more_body_inner > .text > p:nth-of-type(2) {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner > .text > p:nth-of-type(2) {
    margin-top: 20px;
  }
}

.index_explain_content_more_body_inner.caption {
  width: 70%;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner.caption {
    width: 100%;
  }
}

.index_explain_content_more_body_inner-left.caption {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-left.caption {
    padding-right: 0;
  }
}

.index_explain_content_more_body_inner-left.caption > .sponly {
  display: none;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-left.caption > .sponly {
    display: block;
  }
}

.index_explain_content_more_body_inner-left > .title {
  width: 70%;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-left > .title {
    width: 100%;
  }
}

.index_explain_content_more_body_inner-right.caption {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-right.caption {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-right.caption > .text {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .index_explain_content_more_body_inner-right > img {
    display: none;
  }
}

.index_ingred {
  background-color: #123e00;
}

.index_ingred_inner {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_ingred_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_ingred_inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_ingred_inner > img:nth-child(2) {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner > img:nth-child(2) {
    margin-top: 10px;
  }
}

.index_ingred_inner_body {
  margin-top: 40px;
  padding: 10px 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner_body {
    margin-top: 20px;
    padding: 0 5px;
  }
}

.index_ingred_inner_moreBtn {
  margin-top: 40px;
  position: relative;
}

.index_ingred_inner_moreBtn:after {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #FFFFFF;
  top: 2px;
  left: 2px;
  border-radius: 10px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner_moreBtn {
    margin-top: 20px;
  }
}

.index_ingred_inner_moreBtn:hover:after {
  opacity: .2;
}

.index_ingred_inner_more {
  display: none;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner_more {
    margin-top: 20px;
  }
}

.index_ingred_inner_more > p {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  .index_ingred_inner_more > p {
    font-size: 18px;
    line-height: 1.8;
  }
}

.index_message {
  background-color: #FFFFFF;
}

.index_message_inner {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .index_message_inner {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_message_inner {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .index_message_inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.index_message_inner_body {
  padding: 60px 40px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .index_message_inner_body {
    padding: 30px 10px 0;
  }
}

.index_message_inner_body > .text > p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .index_message_inner_body > .text > p {
    margin-top: 20px;
    font-size: 18px;
  }
}

.index_message_inner_body > .bottom {
  margin-top: 40px;
}

@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.eot?iowb2x");
  src: url("../fonts/icon.eot?iowb2x#iefix") format("embedded-opentype"), url("../fonts/icon.ttf?iowb2x") format("truetype"), url("../fonts/icon.woff?iowb2x") format("woff"), url("../fonts/icon.svg?iowb2x#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e905";
}
