{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'croire' %}

{% block main %}


<!-- !! 特集バナー -->
<section class="sale-bnr-wrap mb0" data-start="20210722" data-end="20210726">
	
	<a href="/user_data/croire"><img src="/img/bnr20210722/bnr02.png" alt="bnr02" width="" height="" /></a>

	<div class="bnr-note-wrap">
		<p class="note"><i>※</i>初回お試し購入はお1家族様1回のみ購入可能とさせていただきます。</p>
		<p class="note"><i>※</i>一度、お試し購入いただいた商品はご購入いただけませんのでご了承ください。</p>
	</div>

</section>
<!-- /.sale-bnr-wrap -->    



<div class="row">
<div class="col-sm-12">
	   				




<!-- !! include -->
<!-- !! メイン -->    
<!-- !! メイン -->    
<main id="croire-index" class="">
	
	
		<!-- !! クロワールシリーズ -->
		<section id="products-list">
			
			<h2 class="sec">
				<span>取扱商品一覧</span>
			</h2>
			
			<ul id="products-list-ul" class="products-list top" data-column="3"></ul>
			
			
		</section>
		<!-- /#products-top -->


</main>

{% if is_granted('ROLE_USER') %}
<div id="user-logged-in-flag" data-user="{{ app.user.id }}"></div>
{% endif %}
			

<!-- !! /include -->


</div>
</div>
{% endblock %}