$base:#947848;
$base-lite:#EFEBE4;
$gold:#947F28;
$silver:#727171;
$copper:#955E29;
$bronze:#8AA3D4;
$blue:#228BAF;
$lite-blue:#26B7BC;
$pink:#E4007F;
$pink2:#EE869A;
$text:#3e3a39;
$gray-lite:#F8F6F2;
$line:#BDBAB9;
$gray:#333333;
$gray2:#9FA0A0;
$red:#FF0000;
$red-price:#B81C22;
$ruge:#AF1E24;
$orange:#ff8100;
$yellow:#FABE00;
$lite-yellow:#FDF894;
$brown:#824621;
$p:4.7vw;
$green:#04b701;

$login:#00aef1;
$cta:$orange;
$entry:$green;
$mypage:#f36c6c;
$btn:#c7e0f7;
$favorite:$yellow;

$px : 0.267vw;


$ease1:  cubic-bezier(0, 0.74, 0.38, 0.96);

body.showBlk *,
body.showBlk *:after,
body.showBlk *:before {
	background: rgba(48, 210, 222, 0.13);
}

/* !! - - -  */
/* !! グラデーション */
@mixin bg_3101561{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 90, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 90, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 64 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(255, 232, 90, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 90, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 232, 90, 1) 100%);
}

@mixin bg_3101572{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(65, 182, 155, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(65, 182, 155, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 131.87 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(65, 182, 155, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(65, 182, 155, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(65, 182, 155, 1) 100%);
}

@mixin bg_3101581{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 135, 0, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 135, 0, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 64 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(255, 135, 0, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 135, 0, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 135, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
}

@mixin bg_3101569{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 165, 71, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 165, 71, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 64 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(0, 165, 71, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 165, 71, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 165, 71, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
}

@mixin bg_3101590{

  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(204, 255, 0, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(204, 255, 0, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 131.87 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(204, 255, 0, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(204, 255, 0, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(204, 255, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"

}


@mixin bg_3101585{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 132, 207, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 132, 207, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 64 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(0, 132, 207, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 132, 207, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(0, 132, 207, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
}

@mixin bg_3101526{
  background : -moz-linear-gradient(-7.04% 89.94% 35deg,rgba(132, 95, 10, 1) 0%,rgba(255, 255, 255, 1) 28.21%,rgba(255, 253, 249, 1) 31.33%,rgba(254, 249, 233, 1) 35.34%,rgba(253, 241, 207, 1) 39.84%,rgba(251, 230, 170, 1) 44.7%,rgba(249, 216, 122, 1) 49.86%,rgba(246, 200, 65, 1) 55.19%,rgba(243, 181, 0, 1) 60.51%,rgba(238, 177, 0, 1) 62.11%,rgba(181, 133, 6, 1) 79.82%,rgba(145, 105, 9, 1) 92.96%,rgba(132, 95, 10, 1) 100%);
  background : -webkit-linear-gradient(35deg, rgba(132, 95, 10, 1) 0%, rgba(255, 255, 255, 1) 28.21%, rgba(255, 253, 249, 1) 31.33%, rgba(254, 249, 233, 1) 35.34%, rgba(253, 241, 207, 1) 39.84%, rgba(251, 230, 170, 1) 44.7%, rgba(249, 216, 122, 1) 49.86%, rgba(246, 200, 65, 1) 55.19%, rgba(243, 181, 0, 1) 60.51%, rgba(238, 177, 0, 1) 62.11%, rgba(181, 133, 6, 1) 79.82%, rgba(145, 105, 9, 1) 92.96%, rgba(132, 95, 10, 1) 100%);
  background : -webkit-gradient(linear,-7.04% 89.94% ,107.04% 10.06% ,color-stop(0,rgba(132, 95, 10, 1) ),color-stop(0.2821,rgba(255, 255, 255, 1) ),color-stop(0.3133,rgba(255, 253, 249, 1) ),color-stop(0.3534,rgba(254, 249, 233, 1) ),color-stop(0.3984,rgba(253, 241, 207, 1) ),color-stop(0.447,rgba(251, 230, 170, 1) ),color-stop(0.4986,rgba(249, 216, 122, 1) ),color-stop(0.5519,rgba(246, 200, 65, 1) ),color-stop(0.6051,rgba(243, 181, 0, 1) ),color-stop(0.6211,rgba(238, 177, 0, 1) ),color-stop(0.7982,rgba(181, 133, 6, 1) ),color-stop(0.9296,rgba(145, 105, 9, 1) ),color-stop(1,rgba(132, 95, 10, 1) ));
  background : -o-linear-gradient(35deg, rgba(132, 95, 10, 1) 0%, rgba(255, 255, 255, 1) 28.21%, rgba(255, 253, 249, 1) 31.33%, rgba(254, 249, 233, 1) 35.34%, rgba(253, 241, 207, 1) 39.84%, rgba(251, 230, 170, 1) 44.7%, rgba(249, 216, 122, 1) 49.86%, rgba(246, 200, 65, 1) 55.19%, rgba(243, 181, 0, 1) 60.51%, rgba(238, 177, 0, 1) 62.11%, rgba(181, 133, 6, 1) 79.82%, rgba(145, 105, 9, 1) 92.96%, rgba(132, 95, 10, 1) 100%);
  background : -ms-linear-gradient(35deg, rgba(132, 95, 10, 1) 0%, rgba(255, 255, 255, 1) 28.21%, rgba(255, 253, 249, 1) 31.33%, rgba(254, 249, 233, 1) 35.34%, rgba(253, 241, 207, 1) 39.84%, rgba(251, 230, 170, 1) 44.7%, rgba(249, 216, 122, 1) 49.86%, rgba(246, 200, 65, 1) 55.19%, rgba(243, 181, 0, 1) 60.51%, rgba(238, 177, 0, 1) 62.11%, rgba(181, 133, 6, 1) 79.82%, rgba(145, 105, 9, 1) 92.96%, rgba(132, 95, 10, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#845F0A', endColorstr='#845F0A' ,GradientType=0)";
}

@mixin bg_3101554{
  background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(182, 104, 72, 1) 100%);
  background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(182, 104, 72, 1) 100%);
  background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 64 ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(182, 104, 72, 1) ));
  background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(182, 104, 72, 1) 100%);
  background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(182, 104, 72, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
}


@mixin bg_orange{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(241, 150, 0, 1) 0%,rgba(232, 85, 4, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(241, 150, 0, 1) 0%, rgba(232, 85, 4, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(241, 150, 0, 1) ),color-stop(1,rgba(232, 85, 4, 1) ));
  background : -o-linear-gradient(0deg, rgba(241, 150, 0, 1) 0%, rgba(232, 85, 4, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(241, 150, 0, 1) 0%, rgba(232, 85, 4, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F19600', endColorstr='#E85504' ,GradientType=0)";
}

/* !! - - -  */
/* !! 描画 */
@mixin shadow01{
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

@mixin shadow02{
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	transition: 100ms;
	&:hover{
		box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	}
	&:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	}
}

@mixin textshadow($color:#fff){
	text-shadow:0px 2px 1px $color, 0px 1px 1px $color, 1px 1px 1px $color, 1px 0px 1px $color, 2px 0px 1px $color, 1px -1px 1px $color, 1px -2px 1px $color,0px -2px 1px $color, -1px -2px 1px $color, -2px -2px 1px $color, -2px -1px 1px $color, -2px 0px 1px $color, -2px 1px 1px $color, -1px 1px 1px $color
}

//!! - 三角
@mixin triangle($dir:b-r,$size:30px,$color:#fff){
	width: 0;
	height: 0;
	border: $size solid ;
	$top:transparent;
	$right:transparent;
	$bottom:transparent;
	$left:transparent;
	@if ($dir == b-r) {
		$right:$color;
		$bottom:$color;
	} @else if ($dir == b-l) {
		$left:$color;
		$bottom:$color;
	} @else if ($dir == t-l) {
		$left:$color;
		$top:$color;
	} @else if ($dir == t-r) {
		$right:$color;
		$top:$color;
	}@else if ($dir == l) {
		$right:$color;
	} @else if ($dir == r) {
		$left:$color;
	} @else if ($dir == t) {
		$bottom:$color;
	} @else if ($dir == b) {
		$top:$color;
	}
	
	border-color: $top $right $bottom $left;
}

//!! マーカー
@mixin line($color: #ff0, $height: 65%){
  background: linear-gradient(transparent $height, $color 0%);
  display: inline;
}

/* !! - - -  */
/* !! 構造 */

@mixin flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

@mixin flex-centering{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-start{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

@mixin flex-end{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
}


@mixin fitW($w:$m){
	margin-left: -$w !important;
	width: 100vw !important;
}

@mixin flex-centering{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}


@mixin pfix($gap){
	$em:calc($gap / 2);
	margin-top: -$em;
	margin-bottom: -$em;
}

@mixin note($pl:1.4em){
	padding-left: $pl;
	position: relative;
	i{
		font-style: normal;
		position: absolute;
		top: 0;left: 0;
	}
}

@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}

//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
//@import url(https://fonts.googleapis.com/css?family=Hind:400,300);
//@import url(https://fonts.googleapis.com/css?family=Abel);
//@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url("https://use.typekit.net/qne7ppa.css");
@mixin ropa{
	font-family: 'Ropa Sans', sans-serif;
}

@mixin din{
	font-family: urw-din-semi-condensed, sans-serif;
}

@import url(../fonts/icomoon/style.css);

@mixin minchou{
	//font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	font-family: "游明朝", "YuMincho Medium", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif !important;
}

@mixin gothic{
	font-family:"Hiragino Kaku Gothic ProN","YuGothic",Meiryo,"メイリオ",sans-serif !important;
}

@mixin GG{
	font-family: source-han-sans-japanese, sans-serif;
	font-weight: 400;
	font-style: normal;
	//opacity: 0;
	transition: 100ms;
	.wf-active &{
		//opacity: 1;
	}
}

@mixin BILO{
	font-family: bilo, sans-serif;
	font-weight: 500;
	font-style: normal;
}


@mixin transition($arg){
	-webkit-transition:$arg;
	-moz-transition:$arg;
	-ms-transition:$arg;
	-o-transition:$arg;
	//filter:$arg;
}


@mixin filter($arg){
	-webkit-filter:$arg;
	-moz-filter:$arg;
	-ms-filter:$arg;
	-o-filter:$arg;
	filter:$arg;
}

@mixin transform($arg){
	-webkit-transform:$arg;
	-moz-transform:$arg;
	-ms-transform:$arg;
	-o-transform:$arg;
	transform:$arg;
}

@mixin brend($color){
	background-blend-mode: exclusion;
	background-color: $color ;
}

@mixin webfont($fw:600){
		//font-family: 'Ropa Sans', sans-serif;
		font-family: 'Roboto Slab', serif !important;
		font-weight: $fw;
	}

@mixin header-icon-shadow(){
	-webkit-filter:drop-shadow(rgba(0,0,0,0.8) 1px 1px 2px);
}

@mixin a-cover{
	position: absolute;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

@mixin centering{
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

@mixin side-kakko{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 0;left: 0;
		border: 1px solid #666;
		border-right-width: 0;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;left: 0;
		border: 1px solid #666;
		border-right-width: 0;
		height: 100%;
		width: 15px;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;right: 0;
		border: 1px solid #666;
		border-left-width: 0;
		height: 100%;
		width: 15px;
	}
}

@mixin bar($color){
	content: "";
	width: 50px;
	height: 5px;
	background:$color ;
	display:block;
	margin: 0 auto;
}

@mixin bg-img($url,$size:100% 100%,$position:center center,$repeat:no-repeat){
	background-image: $url;
	background-repeat: $repeat;
	-webkit-background-size:$size ;
	background-size:$size ;
	background-position:$position;
}

@mixin anchor($color:#000,$size:8px,$Bw:1px,$left:auto,$right:10px){
	display: block;
	position: absolute;
	top: 50%;left:$left;right:$right;
	content: "";
	width: $size;height: $size;
	border: 1px solid  $color;
	border-width: 0 $Bw $Bw 0;
	@include transform(rotate(-45deg) translateY(-50%));
	transform-origin: center center;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  } 
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

