{% extends 'default_frame.twig' %}

{% block main %}
<div class="row">
<div class="col-sm-12">
	   				
	   				
	   				

<main class="page FAQ">



<h1 class="hd">
	<i>FAQ</i><br />よくあるご質問
</h1>


<h2>商品について</h2>

<dl>
	<dt>サプリメントはいつ飲むのが良いですか？</dt>
	<dd>
		<p>サプリメントは食品ですので特に決まりはございませんが、食後にお召し上がりいただくと吸収率が良くおすすめです。</p>
		<p>商品によっては食前をオススメしているサプリメントもございます。</p>
		<p>各商品ごとのおすすめの目安量を記載しておりますのでご参考にして下さい。</p>
	</dd>
	<dt>薬と併用しても大丈夫ですか？</dt>
	<dd>
		<p>サプリメントは食品ですので、基本的には問題ないとされておりますが、ご心配な場合は医師や薬剤師の方にご相談していただくことをおすすめします。</p>
	</dd>
	<dt>保管方法はどのようにすればいいですか？</dt>
	<dd>
		<p>サプリメントは開封後はチャックをしっかり閉めて、高温多湿の場所や直射日光などは避けて保存して下さい。</p>
		<p>各商品のパッケージに記載された保存方法をご確認下さい。</p>
	</dd>
	<dt>妊娠中・授乳中でも飲んで良いですか？</dt>
	<dd>
		<p>基本的には問題はございませんが、ご心配な方は医師にご相談をいただくことをおすすめします。</p>
		<p>クロワール茶は乳児でもお飲みいただけるので、おすすめです。</p>	</dd>
</dl>
<h2 id="pay">商品購入・お支払いについて</h2>
<dl>
	<dt>商品を購入するにはどのような手続きがありますか？</dt>
	<dd>
		<p>お支払方法は、クレジッットカード、後払い（コンビニ・郵便局・銀行）からお選びいただくことができます。</p>
		<a href="https://croirecafe.com/user_data/payment#payment"><span>お支払いについてはこちらをご覧ください。</span><i>https://croirecafe.com/user_data/payment#payment</i></a>
	</dd>
	<dt>支払いの期限はありますか？</dt>
	<dd>
		<a href="https://croirecafe.com/user_data/payment#payment"><span>お支払いについてはこちらをご覧ください。</span><i>https://croirecafe.com/user_data/payment#payment</i></a>
	</dd>
</dl>
<h2 id="send">配送について</h2>
<dl>
	<dt>配送会社はどちらの会社になりますか？</dt>
	<dd>
		<p>基本的には日本郵便のゆうパケットでのお届けとなります。</p>
		<a href="https://croirecafe.com/user_data/payment#order-date"><span>お届け日について</span><i>https://croirecafe.com/user_data/payment#order-date</i></a>
	</dd>
	<dt>配送代金について教えていただけますか？</dt>
	<dd>
		<p>7,000円（税込）以上のご購入で送料は無料です。</p>
		<p>購入金額が7,000円（税込）以下の場合は、全国一律660円（税込）頂戴しております。</p>
		<p>（但し、離島につきましては別料金となります。）</p>
	</dd>
</dl>
<h2 id="subscription">定期購入について</h2>
<dl>
	<dt>定期購入とはどういったものになりますか？</dt>
	<dd>
		<p>1度注文していただくと、以降毎月自動で商品をお手元にお届けいたします。</p>
		<p>送料は毎回無料となり、通常価格の15％OFFの価格でお届けですので大変お得です。</p>
		<p>また、6回目特典として1袋のプレゼントとなります。</p>
	</dd>
	<dt>定期購入を変更・解約したいのですが、手続き方法を教えていただけますか？</dt>
	<dd>
		<p>変更・解約をご希望の方は、お届け4回目以降から可能です。</p>
		<p>※3ヵ月以内（隔月お届けの場合は6ヵ月以内）の解約はできませんので、予めご容赦ください。</p>
		<p>次回発送予定日の１週間前までにマイページよりご登録下さい。</p>
		<div class="tel">
			<p><span>お電話でのお問い合わせ</span>0120-76-4541</p>
			<a href="https://croirecafe.com/contact" target="_blank" class="mail">メールでのお問い合わせはこちら</a>
		</div>
	</dd>
</dl>

<h2 id="return">返品・交換について</h2>

<dl>
	<dt>お客様のご都合で返品・交換を希望される場合について</dt>
	<dd>
		<p>送料をお客様にてご負担頂き、商品到着後31日以内にご返送ください。</p>
		<p>開封・ご使用なさった商品、お客様により傷、破損が生じた商品については返品をお受けすることはできません。</p>
	</dd>
	<dt>当社の責に帰する問題(破損・商品入れ違いなど)の返品・交換について</dt>
	<dd>
		<p>当社負担で行ないます。</p>
		<p>必ずご満足いただける応対を心がけておりますが、お気づきの点がございましたら、ご一報頂けると幸いです。</p>
		<div class="add"><p>返品先</p>
		<p>〒603-8054&nbsp;京都市北区上賀茂桜井町101-2</p>
		<p>株式会社エーエルジャパン&nbsp;クロワールカフェ</p>
		<p>TEL:075-705-2930&ensp;フリーダイヤル:0120-76-4541</p></div>
	</dd>
</dl>

<!--
<h2 id="point">ポイントについて</h2>

<dl>
	<dt>ポイントはどのように取得できますか？</dt>
	<dd>
		<p>会員登録をしていない方にはポイントはつきませんのでご登録をお願いします。</p>
		<a href="https://members.shop-pro.jp/?mode=members_regi&#038;shop_id=PA01360901" target="_blank"><span>会員登録はこちら</span><i>https://members.shop-pro.jp/?mode=members_regi&#038;shop_id=PA01360901</i></a>
	</dd>
	<dt>ポイントはどのように使えますか？</dt>
	<dd>
		<p>会員登録をしていただき、有効なショップポイントをお持ちの場合にご利用いただけます。</p>
		<p>ポイントは1円単位でのご利用が可能です。</p>
	</dd>
</dl>
-->

</main>






</div>
</div>
{% endblock %}