{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

	<style>
		table{
			margin: 0 auto;
		}
		table th,table td {
			padding: 10px;
			border: 1px solid #ccc;
		}
		td{
			font-size: 13px;
		}
	</style>




    <div class="ec-role">





        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>



        <table bgcolor="#999999" border="0" cellpadding="9" cellspacing="1" style="text-align:left">
            <tr>
                <th bgcolor="#EEEEEE">販売社名</th>

                <td bgcolor="#FFFFFF">株式会社エーエルジャパン</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">運営統括責任者</th>

                <td bgcolor="#FFFFFF">柏﨑 亜紀</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">所在地</th>

                <td bgcolor="#FFFFFF">〒606-0841<br />京都府京都市左京区下鴨南芝町５１−２</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">電話番号</th>

                <td bgcolor="#FFFFFF">0120-76-4541</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">メールアドレス</th>

                <td bgcolor="#FFFFFF">info@al-japan.com</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">販売URL</th>

                <td bgcolor="#FFFFFF">https://croirecafe.com/</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">お支払い方法</th>

                <td bgcolor="#FFFFFF">

クレジットカード<br>
<br>
ご注文を送信後に、クレジットカード情報をご記入いただきます。<br>
■カードの種類、カード番号、カード期限、ご名義人のお名前を、カードに記載されている通りにご記入ください。<br>
■クレジットカード情報にお間違いがないかご確認ください。よろしければ「カード決済」を一度だけクリックしてください。<br>
■お支払いのご請求日は、クレジットカード各社指定の期日となります。<br>
■ご注文の確認メールをご請求先のメールアドレス宛にお送りします。<br>
■万が一このメールがお手元に届かない場合や、内容に間違い・不備などがございましたら、ご連絡をお願いします。<br>
■確認画面にてクレジットカードをご利用いただけないと表示された場合には、お手数ですがご連絡をお願いします。<br>
■お手続き完了後の発送手配となりますので、予めご了承ください。<br>
［ご注意下さい］<br>
ご本人様名義のカードのみ有効です。<br>
ご注文者とカード名義人義が異なる場合は、クレジットカードのご利用ができません。<br>
弊社とカード会社との契約上、海外で発行されたクレジットカードはご利用いただくことができません。ご注意下さい。<br>
何らかの理由で、カード決済にて承認が取れなかった場合は、当店よりお支払い方法の変更などについて、ご連絡をさせていただく場合がございます。予めご了承ください。<br>
このショッピングカートはカード情報を暗号化するためにSSL認証を利用しています。<br>
一括払いのみご利用いただけます。<br>
代金のお引き落としは翌月以降、各クレジット会員規約に基づくお引き落とし日となります。<br>
★詳しくは各クレジットカード会社にお問い合わせください。<br>
<br>
<br>
後払い（コンビニ・郵便局・銀行））<br>
<br>
※後払い（コンビニ・郵便局・銀行）の請求書はネットプロテクションズより後日郵送。<br />
※請求書は、お荷物とは同梱することが出来ない為、後日、別送となります。</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">商品代金以外の<br>
                必要金額</th>

                <td bgcolor="#FFFFFF" id="about_shipping" data-gap="100">
販売価格とは別に配送料、代引き手数料、振込手数料がかかる場合もございます。<br>
詳しくは下記ご確認ください。<br>
・送料<br>
ポスト投函：全国一律　 231円<br />
宅配便：全国一律　660円<br>
※但し、沖縄・北海道につきましては送料は別料金となります。<br>
［沖縄・北海道への送料］<br>
・7,000円以上のご注文　送料660円（税込）<br>
・7,000円未満のご注文　送料1,320円（税込）<br>
<!--
・手数料<br>
代引手数料　330円<br>
・銀行振込<br>
振込手数料<br>
・郵便振込<br>
振込手数料<br>
-->
・コンビニ支払い手数料：無料<br>
<!-- 7,000円（税込）未満は手数料200円、7,000円（税込）以上は手数料無料となります。 -->
                </td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">販売数量</th>

                <td bgcolor="#FFFFFF">1個から</td>
            </tr>

<!--
            <tr>
                <th bgcolor="#EEEEEE">お申込み有効期限</th>

                <td bgcolor="#FFFFFF">ご注文後10日以内といたします。<br />
ご注文後10日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。<br />
お手続き完了後の発送手配となりますので、予めご了承ください。</td>
            </tr>
-->

            <tr>
                <th bgcolor="#EEEEEE">商品引渡し時期</th>

                <td bgcolor="#FFFFFF">
					クレジットの場合、指定日が無ければご注文確認後1~3営業日以内で発送致します。<br />
					
					<!-- !! 後払いの場合、商品到着後7日以内にご入金ください。  -->

				</td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">商品引渡し方法</th>

                <td bgcolor="#FFFFFF">当方にて手配後、運送会社による配送</td>
            </tr>
<tr>
	 <th bgcolor="#EEEEEE">定期購入の解約について</th>
	 <td bgcolor="#FFFFFF">定期購入はいつでも解約ができます。</td>
</tr>
            <tr>
                <th bgcolor="#EEEEEE">返品・不良品について</th>

                <td bgcolor="#FFFFFF">
■お客様のご都合で返品される場合には、送料をお客様にてご負担頂き、商品到着後14日以内にご返送ください。 その際のご返品理由は何でも結構です。<br>
■ご参考までに返品の理由をお聞かせ願えますと幸いです。<br>
■ただし、以下の場合の返品はお受け出来ませんのでご了承下さい。<br>
1.開封・ご使用なさった商品<br>
2.お客様により傷、破損が生じた商品<br>
■当社の責に帰する問題(破損・商品入れ違いなど)の返品・交換・欠品の追加納品は、もちろん当社負担で行ないます。<br>
必ずご満足いただける応対を心がけておりますが、お気づきの点がございましたら、ご一報頂けると幸いです。<br>
■返品先<br>
〒606-0841 京都府京都市左京区下鴨南芝町５１−２<br>
株式会社エーエルジャパン　クロワールカフェ<br>
TEL:075-705-2930<br>
フリーダイヤル:0120-76-4541
                </td>
            </tr>

            <tr>
                <th bgcolor="#EEEEEE">表現、及び商品に<br>
                関する注意書き</th>

                <td bgcolor="#FFFFFF">本商品に示された表現や再現性には個人差があり、<br>
                必ずしも利益や効果を保証したものではございません。</td>
            </tr>
        </table>


    </div>
{% endblock %}