<script>
    $(function() {
        // Bar追加
        $('body').prepend($("#admin_support_customer_login").html());
        $("#admin_support_customer_login").remove();
    });
</script>

<div id="admin_support_customer_login">
    <div id="admin_support_customer_login_title" class="alert-success alert-dismissable alert-section" style="text-align:center; position: fixed; top: 0; width: 100%; z-index: 100; opacity: 0.6;">
        代理ログイン中です
    </div>
</div>
