{#
/*
 * This file is part of the Flash Sale plugin
 *
 * Copyright(c) ECCUBE VN LAB. All Rights Reserved.
 *
 * https://www.facebook.com/groups/eccube.vn
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<script type="text/javascript">
    $(function () {
        var _flashSaleProductJson = $.parseJSON({{ ProductFlashSale|json_encode|raw }});

        var _setDiscount = function (formProductClass) {
            var ProductClassId = formProductClass.find('form input[name="ProductClass"]').val();
            _resetDiscount(formProductClass);
            if (_flashSaleProductJson[ProductClassId]) {
                $('.price02-default', formProductClass).html('<del>' + $('.price02-default', formProductClass).html() + '</del>');
                $('.price02-default', formProductClass).after('<div class="discount">' + _flashSaleProductJson[ProductClassId].message + '</div>');
            }
        };

        var _resetDiscount = function (formProductClass) {
            $('.price02-default', formProductClass).html($('.price02-default', formProductClass).text());
            formProductClass.find('.discount').remove();
        };

        var _priceDiscount = function (formProductClass) {
            var inputProductClass = formProductClass.find('form input[name="ProductClass"]');
            if (inputProductClass.val()) {
                _setDiscount(formProductClass);
            } else {
                $('select[name="classcategory_id2"], select[name="classcategory_id1"]', formProductClass).on('change', function () {
                    $(this).closest('form').find('input[name="ProductClass"]', formProductClass).trigger('change');
                });
                $('input[name="ProductClass"]', formProductClass).on('change', function () {
                    _setDiscount($(this).closest('li'));
                });
            }
        };

        $.each($('ul.ec-shelfGrid li'), function () {
            _priceDiscount($(this));
        });
    });
</script>
