<script>
    $(function () {
        let target = $("#ex-conversion-action");
        target.prepend($('#admin_support_customer_login').html());
        $("#admin_support_customer_login").remove();

        $('#login_btn').on('click', function() {

            {% if Customer.id and Customer.Status.id == constant('Eccube\\Entity\\Master\\CustomerStatus::ACTIVE') %}
                let login_url = "{{ url('plg_admin_support_customer_login', { 'id' : Customer.id }) }}";
                window.open(login_url, '_blank');
            {% endif %}
        });
    });
</script>

<div id="admin_support_customer_login">
    {% if Customer.id and Customer.Status.id == constant('Eccube\\Entity\\Master\\CustomerStatus::ACTIVE') %}
    <div class="col-auto">
        <button id="login_btn" class="btn btn-ec-conversion px-5"
                type="button">{{ 'admin_support_customer_login.button'|trans }}</button>
    </div>
    {% endif %}
</div>
