# DirectoryIndex index.php index.html .ht
# SetEnvIf User-Agent "Googlebot" shutout
# SetEnvIf User-Agent "Slurp" shutout
# SetEnvIf User-Agent "bingbot" shutout
# SetEnvIf User-Agent "Yeti" shutout
# SetEnvIf User-Agent "Baiduspider" shutout




<FilesMatch "^composer|^COPYING|^\.env|^\.maintenance|^Procfile|^app\.json|^gulpfile\.js|^package\.json|^package-lock\.json|web\.config|^Dockerfile|\.(ini|lock|dist|git|sh|bak|swp|env|twig|yml|yaml|dockerignore)$">
    order allow,deny
    deny from all
</FilesMatch>

<Files ~ "index.php">
    order deny,allow
    allow from all
</Files>

<IfModule mod_headers.c>
    # クリックジャッキング対策
    Header always set X-Frame-Options SAMEORIGIN

    # XSS対策
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options nosniff
</IfModule>

# デザインテンプレートを適用するため10Mで設定 
<IfModule mod_php7.c>
    php_value upload_max_filesize 10M
</IfModule>

<IfModule mod_rewrite.c>
    #403 Forbidden対応方法
    #ページアクセスできない時シンボリックリンクが有効になっていない可能性あります、
    #オプションを追加してください
    #Options +FollowSymLinks +SymLinksIfOwnerMatch

    RewriteEngine On

    # Authorization ヘッダが取得できない環境への対応
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

    # さくらのレンタルサーバでサイトへのアクセスをSSL経由に制限する場合の対応
    # RewriteCond %{HTTP:x-sakura-forwarded-for} !^$
    # RewriteRule ^(.*) - [E=HTTPS:on]

    RewriteRule "^\.git" - [F]
    RewriteRule "^src/" - [F]
    RewriteRule "^app/" - [F]
    RewriteRule "^tests/" - [F]
    RewriteRule "^var/" - [F]
    RewriteRule "^vendor/" - [F]
    RewriteRule "^node_modules/" - [F]
    RewriteRule "^codeception/" - [F]
    RewriteRule "^bin/" - [F]
    RewriteRule "^dockerbuild/" - [F]
    
    # +BをNDXに301リダイレクト
    RewriteRule ^products/detail/(36|112|124|29|70|117|47|66|112)$ https://%{HTTP_HOST}/products/detail/130 [L,R=301]
  	
  	# 商品情報のソースページをリダイレクト	
    #クロワール茶
    RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/premium-croire/index.html$ https://%{HTTP_HOST}/products/detail/120 [L,R=301]
  	
  	#プロバイオティクス
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/PB12/index.html$ https://%{HTTP_HOST}/products/detail/122 [L,R=301]
  	
  	#アイQ
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/(croire-eye-q|croire-eye-pro|croire-eye-lutein)/index.html$ https://%{HTTP_HOST}/products/detail/121 [L,R=301]
  	
  	#緑のDHAEPA
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/DHA-EPA/index.html$ https://%{HTTP_HOST}/products/detail/118 [L,R=301]

  	#NDX
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/(NA|NDX)/index.html$ https://%{HTTP_HOST}/products/detail/130 [L,R=301]
  	
  	#コエンザイムQ10
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/Q10/index.html$ https://%{HTTP_HOST}/products/detail/116 [L,R=301]
  	
  	#ゴールド
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/croire-gold/index.html$ https://%{HTTP_HOST}/products/detail/119 [L,R=301]
  	
  	#魔法のワハハ歯ブラシ
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/wahaha-haburashi/index.html$ https://%{HTTP_HOST}/products/detail/20 [L,R=301]
  	
  	#コート65
  	RewriteCond %{HTTP_REFERER} !^https://(croirecafe2021|test\.croirecafe\.com|croirecafe\.com)
  	RewriteRule ^product/croire-coat65/index.html$ https://%{HTTP_HOST}/products/detail/42 [L,R=301]



    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpe?g|css|ico|js|svg|map)$ [NC]
    RewriteRule ^(.*)$ index.php [QSA,L]
    
</IfModule>

# 管理画面へのBasic認証サンプル
# 
#     AuthType Basic
#     AuthName "Please enter username and password"
#     AuthUserFile /path/to/.htpasswd
#     AuthGroupFile /dev/null
#     require valid-user
#
#     SetEnvIf Request_URI "^/admin" admin_path  # ^/adminは, 管理画面URLに応じて変更してください
# <RequireAll>
#     Require all granted
#     Require not env admin_path
# </RequireAll>#
